.aside {
    display: flex;
    padding: 70px 40px;
    gap: 40px;
    .firstSection {
        width: 50%;
        .imgAside {
            object-fit: cover;
            width: 100%;
        }
    }
    .secondSection {
        width: 50%;
        .asideHeader {
            color: #1A6692;
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 15px;
            width: 100%;
        }
        .asideText {
            color: #626364;
            line-height: 1.8;
            padding: 0;
            margin: 0;
            width: 81%;
            font-size: 17px;
            margin-bottom: 70px;
        }
        .readMore {
            border: 1px solid #CCC;
            text-decoration: none;
            transition: all 0.3s ease;
            padding: 15px 30px;
            font-size: 1rem;
            float: right;
            margin-right: 70px;
            color: #626364;
            &:hover {
                background-color: #626364;
                color: #FFFFFF;
            }
        }
    }
}
