
.menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
    gap: 30px;
    line-height: 1.8;
    .imgMenu {
            object-fit: cover;
            width: 100%;
       
    }
    .menuHeader {
        color: #1A6692;
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 15px;
    }
    .menuInfo {
        color: #626364;
        margin: 0;
        padding: 0;
    }
    .menuPrice {
        font-size: 1.25rem;
        color: #2F956D;
    }
}